[Unit]
Description=Gateway Auto-Mute Service
After=sound.target pulseaudio.service

[Service]
Type=simple
WorkingDirectory=/home/stefan/.var/svc/gateway-auto-mute
ExecStart=/home/stefan/.var/svc/gateway-auto-mute/.venv/bin/python3 /home/stefan/.var/svc/gateway-auto-mute/service_manager.py _daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
